/* Card.module.css */
.card {
  background-size: cover;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
}

.card-image {
  position: absolute;
  /*  */
}
